name: My second workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: welcome message
          run: echo "my first git hib action job"

        - name: list of files
          run: ls
          
        - name: read file
          run: cat README.md