name: Docker Pipeline

on: 
  workflow_dispatch:
  schedule:
     - cron: '*/10 * * * *'

env:
  CONTAINER_REGISTRY: docker.io
  IMAGE_NAME: my-app

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker Build
        run: |
          echo "docker build -t $CONTAINER_REGISTRY/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME:latest ."

      - name: Docker Login
        run: |
          echo "docker login --username=${{ vars.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }}"

      - name: Docker Publish
        run: |
          echo "docker push $CONTAINER_REGISTRY/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME:latest"

  deploy:
    needs: docker
    runs-on: ubuntu-latest

    steps:
      - name: Docker Run
        run: |
          echo "docker run -d -p 8080:80 $CONTAINER_REGISTRY/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME:latest"
